
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="position:static">
    <div style="display: inline-block; float:left">
        <h2>Video Monitor 1</h2>
        <div class="iv-embed" style="margin:0
auto;padding:0;border:0;width:322px;  float:left ">
            <div class="iv-v"
                 style="display:block;margin:0;padding:1px;border:0;background:#000;">
                <iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;"
                        src="//open.ivideon.com/embed/v2/?server=200-19b17d1e97b5bf2f4265fc438948e40a&amp;camera=0&amp;width=&amp;height=&amp;lang=en"
                        width="320" height="427" frameborder="0"
                        allowfullscreen></iframe>
            </div><div class="iv-b"
                       style="display:block;margin:0;padding:0;border:0;">
                <div style="float:right;text-align:right;padding:0 0
10px;line-height:10px;">
                    <a class="iv-a" style="font:10px
Verdana,sans-serif;color:inherit;opacity:.6;"
                       href="http://www.ivideon.com/" target="_blank">
                        powered by
                        Ivideon
                    </a>
                </div><div style="clear:both;height:0;overflow:hidden;">&nbsp;</div>
                <script src="http://open.ivideon.com/embed/v2/embedded.js"></script>
            </div>
        </div>
    </div>
    


    <div style="display: inline-block; float:right">
        <h2>Video Monitor 2</h2>
        <div class="iv-embed" style="margin: 0 auto; padding: 0; border: 0; width: 322px;">
            <div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;" src="//open.ivideon.com/embed/v2/?server=200-a6c454d78b5f3b3c3c01148df5c1d19d&amp;camera=0&amp;width=&amp;height=&amp;lang=en" width="320" height="427" frameborder="0" allowfullscreen></iframe></div><div class="iv-b" style="display:block;margin:0;padding:0;border:0;">
                <div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a" style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="http://www.ivideon.com/" target="_blank">powered by Ivideon</a></div><div style="clear:both;height:0;overflow:hidden;">&nbsp;</div>
                <script src="http://open.ivideon.com/embed/v2/embedded.js"></script>
            </div>
        </div>

    </div>
    
</div>

