
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estadisticas</h2>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<div id="curve_chart1" style="width: 900px; height: 500px"></div>
<div id="curve_chart2" style="width: 900px; height: 500px"></div>
<div id="curve_chart3" style="width: 900px; height: 500px"></div>


<script type="text/javascript">
    var temps;
    $(document).ready(function () {
        
        google.setOnLoadCallback(drawChart);

    });

    function drawChart(temps) {
        var data = new google.visualization.DataTable();
        var data2 = new google.visualization.DataTable();
        var data3 = new google.visualization.DataTable();
        var data4 = new google.visualization.DataTable();

        //temperatura sobre tiempo
        $.get("@Url.Action("getTemp")", function (result) {
        data.addColumn('datetime', 'Tiempo');
        data.addColumn('number', 'Temperatura');
        data.addRows([
            [new Date(moment(result[0].Date).year(), moment(result[0].Date).month(), moment(result[0].Date).day(), moment(result[0].Date).hour(), moment(result[0].Date).minute(), moment(result[0].Date).second()), result[0].Temp],
            [new Date(moment(result[1].Date).year(), moment(result[1].Date).month(), moment(result[1].Date).day(), moment(result[1].Date).hour(), moment(result[1].Date).minute(), moment(result[1].Date).second()), result[1].Temp],
            [new Date(moment(result[2].Date).year(), moment(result[2].Date).month(), moment(result[2].Date).day(), moment(result[2].Date).hour(), moment(result[2].Date).minute(), moment(result[2].Date).second()), result[2].Temp],
            [new Date(moment(result[3].Date).year(), moment(result[3].Date).month(), moment(result[3].Date).day(), moment(result[3].Date).hour(), moment(result[3].Date).minute(), moment(result[3].Date).second()), result[3].Temp],
        ]);
        var options = {
            title: 'Temperatura / Tiempo',
            curveType: 'function',
            legend: { position: 'bottom' },
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
        });

        //HumedadRelativa sobre tiempo
        $.get("@Url.Action("getHumRelativa")", function (result) {
            data2.addColumn('datetime', 'Tiempo');
            data2.addColumn('number', 'Humedad Relativa');
            data2.addRows([
                [new Date(moment(result[0].Date).year(), moment(result[0].Date).month(), moment(result[0].Date).day(), moment(result[0].Date).hour(), moment(result[0].Date).minute(), moment(result[0].Date).second()), result[0].Temp],
                [new Date(moment(result[1].Date).year(), moment(result[1].Date).month(), moment(result[1].Date).day(), moment(result[1].Date).hour(), moment(result[1].Date).minute(), moment(result[1].Date).second()), result[1].Temp],
                [new Date(moment(result[2].Date).year(), moment(result[2].Date).month(), moment(result[2].Date).day(), moment(result[2].Date).hour(), moment(result[2].Date).minute(), moment(result[2].Date).second()), result[2].Temp],
                [new Date(moment(result[3].Date).year(), moment(result[3].Date).month(), moment(result[3].Date).day(), moment(result[3].Date).hour(), moment(result[3].Date).minute(), moment(result[3].Date).second()), result[3].Temp],
            ]);
            var options = {
                title: 'Humedad Relativa / Tiempo',
                curveType: 'function',
                legend: { position: 'bottom' },
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));
            chart.draw(data2, options);
        });

        //Humedad Suelo sobre tiempo
        $.get("@Url.Action("getHumSuelo")", function (result) {
            data3.addColumn('datetime', 'Tiempo');
            data3.addColumn('number', 'Humedad Suelo');
            data3.addRows([
                [new Date(moment(result[0].Date).year(), moment(result[0].Date).month(), moment(result[0].Date).day(), moment(result[0].Date).hour(), moment(result[0].Date).minute(), moment(result[0].Date).second()), result[0].Temp],
                [new Date(moment(result[1].Date).year(), moment(result[1].Date).month(), moment(result[1].Date).day(), moment(result[1].Date).hour(), moment(result[1].Date).minute(), moment(result[1].Date).second()), result[1].Temp],
                [new Date(moment(result[2].Date).year(), moment(result[2].Date).month(), moment(result[2].Date).day(), moment(result[2].Date).hour(), moment(result[2].Date).minute(), moment(result[2].Date).second()), result[2].Temp],
                [new Date(moment(result[3].Date).year(), moment(result[3].Date).month(), moment(result[3].Date).day(), moment(result[3].Date).hour(), moment(result[3].Date).minute(), moment(result[3].Date).second()), result[3].Temp],
            ]);
            var options = {
                title: 'Humedad Suelo / Tiempo',
                curveType: 'function',
                legend: { position: 'bottom' },
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
            chart.draw(data3, options);
        });

        //Flujo sobre tiempo
        $.get("@Url.Action("getFlujo")", function (result) {
            data4.addColumn('datetime', 'Tiempo');
            data4.addColumn('number', 'Flujo');
            data4.addRows([
                [new Date(moment(result[0].Date).year(), moment(result[0].Date).month(), moment(result[0].Date).day(), moment(result[0].Date).hour(), moment(result[0].Date).minute(), moment(result[0].Date).second()), result[0].Temp],
                [new Date(moment(result[1].Date).year(), moment(result[1].Date).month(), moment(result[1].Date).day(), moment(result[1].Date).hour(), moment(result[1].Date).minute(), moment(result[1].Date).second()), result[1].Temp],
                [new Date(moment(result[2].Date).year(), moment(result[2].Date).month(), moment(result[2].Date).day(), moment(result[2].Date).hour(), moment(result[2].Date).minute(), moment(result[2].Date).second()), result[2].Temp],
                [new Date(moment(result[3].Date).year(), moment(result[3].Date).month(), moment(result[3].Date).day(), moment(result[3].Date).hour(), moment(result[3].Date).minute(), moment(result[3].Date).second()), result[3].Temp],
            ]);
            var options = {
                title: 'Flujo / Tiempo',
                curveType: 'function',
                legend: { position: 'bottom' },
            };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart3'));
            chart.draw(data4, options);
        });

    }

    

</script>
