@model EasyFarm.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_layoutlogin.cshtml";
    var data = false;
    if (TempData["Failed"] != null)
    {
        bool.TryParse(TempData["Failed"].ToString(), out data);
    }
}

<h2>EasyFarm - Login</h2>
 
<form action="@Url.Action("Login")" method="post">
    <table>
        <tr>
            <td>
                <label for="user">Usuario:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Usuario" })
            </td>
        </tr>
        <tr>
            <td>
                <label for="pwrd">Contraseña:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Password, new { @placeholder = "Contraseña", @type= "password" })
            </td>
        </tr>
        
    </table>

    <input type="submit" class="btn btn-primary" value="Entrar" />
</form>
@if(data){
<span>Usuario / Contraseña Invalido</span>
}

