@model EasyFarm.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_layoutlogin.cshtml";
    var data = false;
    if (TempData["Failed"] != null)
    {
        bool.TryParse(TempData["Failed"].ToString(), out data);
    }
}
<div id="login_info">
    <h2 id="header_info">EasyFarm - Login</h2>

    <form class="" action="@Url.Action("Login")" method="post">
        <div id="first" class="form-group">
            <label class="labels_info" for="user">Usuario:</label>
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Usuario", @class = "form-control", @style = "margin-left: 23%;" })
        </div>
        <div class="form-group">
            <label class="labels_info" for="pwrd">Contraseña:</label>
            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Contraseña", @type = "password", @class = "form-control", @style = "margin-left: 23%;" })
        </div>
                <input id="btn1" type="submit" class="btn btn-primary labels_info " value="Entrar" />
    </form>
    <a href="@Url.Action("Register")">Regístrese Aquí</a>
    @if (data)
    {
        <span>Usuario / Contraseña Invalido</span>
    }
</div>
<style>
    #login_info {
        border-style: solid;
        border-width: medium;
        position: relative;
        width: 45%;
        height: 441px;
        margin-left: 28%;
        margin-top: 15%;
        text-align:center;
    }
    #header_info {
        margin-top: 11%;
    }
    .labels_info {
        display:block;
    }
    #first {
        margin-top: 10%;
    }
    #btn1 {
        width:40%;
        margin-left:31%;
    }

</style>
