@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Easy Farm</h1>
    <p class="lead">Este proyecto nace en vista de la necesidad que tienen productores agrícolas por tener mayor control e información sobre sus cultivos bajo ambientes protegidos</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>El problema</h2>
        <p>
            El mundo de la agricultura y la producción de cultivos depende totalmente de variables climatológicas que afectan el cultivo.
            provocando que este sea susceptible a enfermedades, daños causados por desastres naturales, picos de temperatura no deseados, etc.
            El agricultor no controla dichas variables y tiene que acomodar sus cultivos a diferentes épocas del año con la intención de aprovechar dichas condiciones del clima para tener los mejores resultados posibles en sus cultivos.
            A esto se le suma el desperdicio de recursos.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Solución</h2>
        <p>Implementar EasyFarm que es un sistema de automatización y monitorización de cultivos con la finalidad de supervisar y recoger información de las principales condiciones en las que estos se desarrollan, por medio de sensores y componentes electrónicos.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Alcance</h2>
        <p>

               <ul>
                   <li>Modo Manual/Automático</li>
                   <li>Control de temperatura.</li>
                   <li>Medición de Humedad relativa.</li>
                   <li>Medición de Humedad del suelo.</li>
                   <li>Control de Riego Manual/Auto.</li>
                   <li>Iluminación Manual/Auto.</li>
                   <li>Control de ventilación Man/Auto.</li>
                   <li>Control de seguridad de Bomba</li>
                   <li>Creación de una interfaz de Monitoreo (web).</li>
                   <li>Monitotización por CamIP</li>
                   <li>Sistema de Backup de baterias</li>
               </ul>

       </p>
       
    </div>
</div>
